body{
    margin-top:5px;
}
.nav{
    width: 100%;
    background:#473b00;
    color: white;
    height: 70px;
    text-align: center;
    opacity: .9;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
    position: absolute;
}
ul li{
    float: left;
    margin-top: 15px;
    
}
ul li a{
    width: 150px;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
a:hover{
    
    opacity: 0.75;
}
ul li ul{
    background: #473b00;
}
ul li ul li{
    float:none;
}

ul li ul{
    display:none;
}

ul li:hover ul{
    display: block;
    
}

.left{
    float:left;
}

#image
{
    margin-left: 50px;
    width: 300px;
    height: 400px;
    padding: 50px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
p{
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    margin: 0px 250px 0px 20px;
}


